<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

</head>
<body>
    <div class="adminMain">
        <div class="mainImageBox">
            
            <% if(data){ %>
            <img src="/images/<%= data.image %>" alt="<%= data.altTag %>">
            <% } %>
            <form action="/imgDesc" method="post" enctype="multipart/form-data">
                <input type="file" placeholder="upload image" name="image">
                <input type="text" placeholder="altTag" name="altTag">
                <input type="text" placeholder="metaTag" name="metaTag">
                <button type="submit">Submit</button>

            </form>
        </div>
    </div>
    
</body>
</html>